<nav class="navbar navbar-expand-lg sticky-navbar" [ngClass]="navbarClasses">
  <a class="navbar-brand text-decoration-none">
    <img src="https://static.foxypool.io/assets/icon/fox.svg" width="34" height="34" alt="">
    <span style="font-weight: 300; font-size: 1.1em;margin-left: 8px;vertical-align: top">Foxy-Pool Overview</span>
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenuCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
    <ul class="navbar-nav me-auto"></ul>
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
      <div class="header-row-item theme-selector">
        <div class="theme-switcher-container">
          <input type="checkbox" id="theme-switch" class="theme-switcher-checkbox" [(ngModel)]="showMoonInThemeSwitcher"/>
          <label for="theme-switch" class="theme-switcher-label">
            <fa-icon [icon]="faMoon" class="theme-switcher-moon-icon" size="xl"></fa-icon>
            <fa-icon [icon]="faSun" class="theme-switcher-sun-icon" size="xl"></fa-icon>
            <span class="theme-switcher-ball"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</nav>
