<div *ngIf="showTable" class="p-3 jumbotron rounded">
  <div class="table-responsive-lg">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Pool</th>
        <th scope="col">Algorithm</th>
        <th scope="col">Daily Reward</th>
        <th scope="col">Won (24h)</th>
        <th scope="col">Capacity</th>
        <th scope="col">Farmer</th>
        <th scope="col">NetDiff</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pool of postPools">
        <td style="width: 16em;">
          <a href="{{pool.url}}" target="_blank" style="text-decoration: none;">
            <div style="text-align: center; vertical-align: middle; border-radius: 7px" [style.background-color]="pool.color">
              <img src="assets/{{getPoolImageName(pool)}}.png" style="height: 2.4em;padding-top: 3px; padding-bottom: 3px">
              <span *ngIf="pool.isEco" style="vertical-align: text-top;font-style: italic" [style.color]="pool.ecoTextColor"> ECO</span>
            </div>
          </a>
        </td>
        <td><span class="badge badge-post" ngbTooltip="Proof of Spacetime">PoSt</span></td>
        <td *ngIf="!isRewardStatsLoadingForPostPool(pool) && !isExchangeStatsLoadingForPostPool(pool)">
          {{getDailyRewardOfPostPool(pool).toFixed(2)}} {{pool.ticker}} / PiB<br>
          {{(getDailyRewardOfPostPool(pool) * getRateOfPostPool(pool)).toFixed(2)}} USD / PiB
        </td>
        <td *ngIf="isRewardStatsLoadingForPostPool(pool) || isExchangeStatsLoadingForPostPool(pool)">
          <app-loading-state [height]="2" [width]="2" fontSize="12px"></app-loading-state>
        </td>
        <td *ngIf="!isRewardStatsLoadingForPostPool(pool)">
          {{getWonRoundsPerDayOfPostPool(pool)}}
        </td>
        <td *ngIf="isRewardStatsLoadingForPostPool(pool)">
          <app-loading-state [height]="2" [width]="2" fontSize="12px"></app-loading-state>
        </td>
        <td *ngIf="!isAccountStatsLoadingForPostPool(pool)">
          {{getCapacityOfPostPool(pool)}}
        </td>
        <td *ngIf="isAccountStatsLoadingForPostPool(pool)">
          <app-loading-state [height]="2" [width]="2" fontSize="12px"></app-loading-state>
        </td>
        <td *ngIf="!isAccountStatsLoadingForPostPool(pool)">
          {{getAccountsOfPostPool(pool)}}
        </td>
        <td *ngIf="isAccountStatsLoadingForPostPool(pool)">
          <app-loading-state [height]="2" [width]="2" fontSize="12px"></app-loading-state>
        </td>
        <td *ngIf="!isPoolStatsLoadingForPostPool(pool)">
          {{getNetDiffOfPostPool(pool)}}
        </td>
        <td *ngIf="isPoolStatsLoadingForPostPool(pool)">
          <app-loading-state [height]="2" [width]="2" fontSize="12px"></app-loading-state>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!showTable">
  <div class="row row-cols-1 g-2" [ngClass]="cardRowClasses">
    <div class="col" *ngFor="let pool of postPools">
      <div class="card">
        <div class="card-header p-0">
          <a href="{{pool.url}}" target="_blank" style="text-decoration: none;">
            <div style="text-align: center; vertical-align: middle;" class="card-pool-image-wrapper" [style.background-color]="pool.color">
              <img src="assets/{{getPoolImageName(pool)}}.png" style="height: 2.4em;padding-top: 3px; padding-bottom: 3px">
              <span *ngIf="pool.isEco" style="vertical-align: text-top;font-style: italic" [style.color]="pool.ecoTextColor"> ECO</span>
            </div>
          </a>
        </div>
        <div class="card-body">
          <div class="row justify-content-around p-1">
            <div class="col-6">
              <span class="card-font-size">Algorithm</span>
            </div>
            <div class="col-6 text-center">
              <span class="badge badge-post" ngbTooltip="Proof of Spacetime">PoSt</span>
            </div>
          </div>
          <div class="row justify-content-around p-1 align-items-center">
            <div class="col-6">
              <span class="card-font-size">Daily Reward</span>
            </div>
            <div class="col-6 text-center">
            <span class="fw-bold"
                  *ngIf="!isRewardStatsLoadingForPostPool(pool) && !isExchangeStatsLoadingForPostPool(pool)"
            >
              {{getDailyRewardOfPostPool(pool).toFixed(2)}} {{pool.ticker}} / PiB<br>
              {{(getDailyRewardOfPostPool(pool) * getRateOfPostPool(pool)).toFixed(2)}} USD / PiB
            </span>
              <app-loading-state
                *ngIf="isRewardStatsLoadingForPostPool(pool) || isExchangeStatsLoadingForPostPool(pool)"
                [height]="2.9"
                [width]="2.9"
                fontSize="12px">
              </app-loading-state>
            </div>
          </div>
          <div class="row justify-content-around p-1">
            <div class="col-6">
              <span class="card-font-size">Won (24h)</span>
            </div>
            <div class="col-6 text-center">
            <span *ngIf="!isRewardStatsLoadingForPostPool(pool)">
              {{getWonRoundsPerDayOfPostPool(pool)}}
            </span>
              <app-loading-state
                *ngIf="isRewardStatsLoadingForPostPool(pool)"
                [height]="1.5"
                [width]="1.5"
                fontSize="12px">
              </app-loading-state>
            </div>
          </div>
          <div class="row justify-content-around p-1">
            <div class="col-6">
              <span class="card-font-size">Capacity</span>
            </div>
            <div class="col-6 text-center">
            <span *ngIf="!isAccountStatsLoadingForPostPool(pool)">
              {{getCapacityOfPostPool(pool)}}
            </span>
              <app-loading-state
                *ngIf="isAccountStatsLoadingForPostPool(pool)"
                [height]="1.5"
                [width]="1.5"
                fontSize="12px">
              </app-loading-state>
            </div>
          </div>
          <div class="row justify-content-around p-1">
            <div class="col-6">
              <span class="card-font-size">{{pool.isPoStPool ? 'Farmer' : 'Miner'}}</span>
            </div>
            <div class="col-6 text-center">
            <span *ngIf="!isAccountStatsLoadingForPostPool(pool)">
              {{getAccountsOfPostPool(pool)}}
            </span>
              <app-loading-state
                *ngIf="isAccountStatsLoadingForPostPool(pool)"
                [height]="1.5"
                [width]="1.5"
                fontSize="12px">
              </app-loading-state>
            </div>
          </div>
          <div class="row justify-content-around p-1">
            <div class="col-6">
              <span class="card-font-size">NetDiff</span>
            </div>
            <div class="col-6 text-center">
            <span *ngIf="!isPoolStatsLoadingForPostPool(pool)">
              {{getNetDiffOfPostPool(pool)}}
            </span>
              <app-loading-state
                *ngIf="isPoolStatsLoadingForPostPool(pool)"
                [height]="1.5"
                [width]="1.5"
                fontSize="12px">
              </app-loading-state>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
