table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
  vertical-align: middle;
}
th {
  font-size: large;
}
.badge-poc {
  background-color: #1c739e;
  font-size: larger;
}
.badge-post {
  background-color: #198c1c;
  font-size: larger;
}
.card {
  background-color: #2f3136;
}
.card-header {
  padding-bottom: 0.15rem;
}
.card-body {
  padding-top: 1rem;
}
.card-font-size {
  font-size: 18px;
}
