table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
  vertical-align: middle;
}
th {
  font-size: large;
}
.badge {
  padding: 0.25em 0.4em;
  color: var(--badge-color);
}
.badge-post {
  background-color: #198c1c;
  font-size: larger;
}
.card-header {
  padding-bottom: 0.15rem;
}
.card-body {
  padding-top: 1rem;
  color: var(--text-color);
}
.card-font-size {
  font-size: 18px;
}
