table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
  vertical-align: middle;
}
th {
  font-size: large;
}
.badge-poc {
  background-color: #1c739e;
  font-size: larger;
}
.badge-post {
  background-color: #198c1c;
  font-size: larger;
}
