@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'ngx-toastr/toastr-bs5-alert';

.table th {
  border-color: #454d55;
}
.table td {
  border-color: #454d55;
  padding: 0.75rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.form-check-input {
  margin-top: 6px;
}

html, body {
  height: 100%;
}
.dark-theme {
  background-color: #36393f;
  color: #cfd0d1;
}

@media (min-width: 1700px) {
  .container-fluid {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1800px) {
  .container-fluid {
    padding-left: 7%;
    padding-right: 7%;
  }
}
