@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr-bs5-alert';

body {
  --text-color: #000;
  --background-color: #f3f6f9;
  --card-background-color: initial;
  --dropdown-menu-background-color: #fefefe;
  --dropdown-item-background-color-hover: #e9ecef;
  --dropdown-item-divider-color: initial;
  --table-border-color: initial;
  --navbar-background-color: #fefefe;
  --footer-background-color: #e8ebed;
  --highlight-color: rgba(0, 0, 0, 0.9);
  --highlight-color-hover: rgba(0, 0, 0, 0.6);
  --footer-spacer-background-image: url('./app/footer/spacer-light.svg');
  --badge-color: #fff;
}

body.dark-theme {
  --text-color: #cfd0d1;
  --background-color: #36393f;
  --card-background-color: #2f3136;
  --dropdown-menu-background-color: #2f3136;
  --dropdown-item-background-color-hover: #262629;
  --dropdown-item-divider-color: #262629;
  --table-border-color: #454d55;
  --navbar-background-color: #2f3136;
  --footer-background-color: #2b2e33;
  --highlight-color: rgba(255, 255, 255, 0.6);
  --highlight-color-hover: rgba(255, 255, 255, 0.9);
  --footer-spacer-background-image: url('./app/footer/spacer.svg');
  --badge-color: #cfd0d1;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

table {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.table th {
  border-color: var(--table-border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}
.table td {
  border-color: var(--table-border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0.75rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.form-check-input {
  margin-top: 6px;
}

html, body {
  height: 100%;
}

.card {
  background-color: var(--card-background-color);
}

@media (min-width: 1700px) {
  .container-fluid {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1800px) {
  .container-fluid {
    padding-left: 7%;
    padding-right: 7%;
  }
}
